<div class="container-fluid footer">
    <h3>Ressource:</h3>
    <div class="contenuFooter ml-3" style="width:fit-content;">
        <a href="{{ asset ("https://icones8.fr")}}" target="_blank">Icones8.fr</a>
        <a href="{{ asset ("https://fontawesome.com/")}}" target="_blank">Fontawesome.com</a>
    </div>
</div>